<!-- BANNER SELEÇÃO DOS MELHORES SP DESKTOP-->
<div class="d-none d-sm-block d-md-none d-lg-block thumbnail text-center mt-4 vip">
    <img class="img-fluid" src="assets/img/banner-vip-2.jpg" alt="Experiência  VIP completa" width="1920" height="400" />
</div>
<!-- BANNER SELEÇÃO DOS MELHORES SP MOBILE-->
<div class="d-block d-sm-none d-none d-md-block d-lg-none mt-2"> <img class="img-fluid" src="assets/img/banner-vip-2.jpg"
        alt="Experiência  VIP completa" width="1920" height="400" />
</div>