.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.dropdown-menu-right[x-placement="bottom-right"] {
    position: absolute;
    top: 36px!important;
}

.icon {
    &-perfil {
        width: 30px;
        height: 30px;
    }
}