<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand d-none d-sm-block" href="/" aria-label="home">
      <img src="assets/img/logo-msz.svg" width="71" height="40" alt="logo Momentosz" />
    </a>
    <a class="navbar-brand d-block d-sm-none" href="/" aria-label="home">
      <img src="assets/img/mobile-logo-msz.svg" alt="logo Momentosz" />
    </a>
    <button class="navbar-toggler" [ngClass]="{collapsed: isCollapsed}" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" (click)="isCollapsed = !isCollapsed" aria-controls="navbarResponsive"
      [attr.aria-expanded]="!isCollapsed" [attr.aria-label]="!isCollapsed ? 'Fechar menu' : 'Abrir menu'">
      <span class="icon-bar top-bar"></span>
      <span class="icon-bar middle-bar"></span>
      <span class="icon-bar bottom-bar"></span>
      <span class="sr-only">{{!isCollapsed ? 'Fechar menu' : 'Abrir menu'}}</span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn; else isLoggedOut">
        <h6 class="d-block d-sm-none d-md-none d-none d-md-block d-lg-none">
          Olá, {{me?.firstName}}
        </h6>
        <li class="nav-item">
          <a class="nav-link" href="#">FAVORITOS</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:;" (click)="goToHelp()">AJUDA</a>
        </li>
        <!-- DESKTOP -->
        <div class="btn-group d-none d-sm-block d-md-none d-lg-block" ngbDropdown>
          <span data-toggle="dropdown" ngbDropdownToggle>
            <img class="icon-perfil" alt="Perfil" src="/assets/img/foto-editar-perfil.svg" *ngIf="!me?.photoUrl; else photo">
          </span>
          <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
            <h6 class="dropdown-header">Olá, {{me?.firstName}}</h6>
            <a class="dropdown-item" href="editar-perfil.html">Editar Perfil</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="signOut()">Sair</a>
          </div>
        </div>
        <!-- TABLET / MOBILE -->
        <div class="d-block d-sm-none d-none d-md-block d-lg-none">
          <li class="nav-item active">
            <a class="nav-link" href="ajuda.html">EDITAR PERFIL</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" (click)="signOut()">SAIR</a>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
<ng-content></ng-content>

<ng-template #photo>
  <img [src]="me.photoUrl" alt="Perfil" width="30px" height="30px" style="border-radius: 50%;">
</ng-template>
<ng-template #isLoggedOut>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" (click)="goToHelp()">AJUDA </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" (click)="openModal(SIGN_UP)">CADASTRE-SE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" (click)="openModal(SIGN_IN)">ENTRAR</a>
    </li>
  </ul>
</ng-template>
<!-- Cadastrar -->
<ng-template #SIGN_UP let-c="close" let-d="dismiss">
  <form [formGroup]="signUpFormGroup" (ngSubmit)="signUp()">
    <div class="modal-header">
      <h3 class="modal-title" id="ModalCentralizado">Faça parte da nossa comunidade</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="closeModal()"> <span
          aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-primary btn-block" (click)="signInWithFB()">
        <i class="fab fa-facebook-f mr-4"></i>
        Cadastrar com Facebook
      </button>
      <div class="row">
        <div class="col-5">
          <hr class="my-4">
        </div>
        <div class="col-2">
          <h4 class="text-center mt-4">Ou</h4>
        </div>
        <div class="col-5">
          <hr class="my-4">
        </div>
      </div>
      <div class="form-group">
        <label for="emailCadastro">E-mail</label>
        <input formControlName="email" type="email" class="form-control" id="emailCadastro" aria-describedby="emailCadastro"
          placeholder="Digite seu e-mail">
        <!--<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small> -->
      </div>
      <div class="form-group">
        <label for="nomeCadastro">Nome</label>
        <input formControlName="name" type="text" class="form-control" id="nomeCadastro" aria-describedby="nomeCadastro"
          placeholder="Digite seu nome">
        <!--<small id="nomeHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>-->
      </div>
      <div class="form-group">
        <label for="sobrenomeCadastro">Sobrenome</label>
        <input formControlName="lastName" type="text" class="form-control" id="sobrenomeCadastro" aria-describedby="sobrenomeCadastro"
          placeholder="Digite seu sobrenome">
        <!--<small id="sobrenomeHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>-->
      </div>
      <div class="form-group">
        <label for="Password1">Senha</label>
        <input formControlName="password" type="password" class="form-control" id="Password1" placeholder="Senha">
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-success" type="submit">Cadastrar</button>
        </div>
        <div class="col-12 text-center mt-3">
          <h4>Já tem uma conta do Momentosz? <a class="link-msz" href="#">Entrar</a></h4>
        </div>
      </div>
    </div>
  </form>

</ng-template>
<!-- Entrar -->
<ng-template #SIGN_IN let-c="close" let-d="dismiss">
  <form [formGroup]="signInFormGroup" (ngSubmit)="signIn()">
    <div class="modal-header">
      <h3 class="modal-title" id="TituloModalCentralizado">Entrar</h3>
      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar" (click)="closeModal()"> <span
          aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-primary btn-block"><i class="fab fa-facebook-f mr-4"></i> Entre usando o
        Facebook</button>
      <div class="row">
        <div class="col-5">
          <hr class="my-4">
        </div>
        <div class="col-2">
          <h4 class="text-center mt-4">Ou</h4>
        </div>
        <div class="col-5">
          <hr class="my-4">
        </div>
      </div>

      <div class="form-group">
        <label for="emailCadastro">E-mail</label>
        <input formControlName="email" type="email" class="form-control" id="emailEntrar" aria-describedby="emailEntrar"
          placeholder="Digite seu e-mail">
        <!--<small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small> -->
      </div>
      <div class="form-group">
        <label for="Password1">Senha</label>
        <input formControlName="password" type="password" class="form-control" id="passwordEntrar" placeholder="Senha">
      </div>
      <div class="text-right">
        <a class="link2-msz" href="#"> Esqueci a senha</a>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-success" type="submit">Entrar</button>
        </div>
        <div class="col-12 text-center mt-3">
          <h4>Você ainda não tem uma conta?<a class="link-msz" href="#"> Cadastre-se</a></h4>
        </div>
      </div>
    </div>
  </form>
</ng-template>