<header mszHeader [isLoggedIn]="isLoggedIn" [userInfo]="me">
  <router-outlet name="banner"></router-outlet>
</header>
<main class="container">
  <router-outlet></router-outlet>
</main>
<footer mszFooter></footer>