header {
    min-height: 10vh;
}
main {
    color: #484848;
    display: flex;
    min-height: 69vh;
    flex-direction: column;
}

@media(min-width: 578px) {
    header {
        min-height: 15vh;
    }
}