<div class="card text-white">
  <a routerLink="">
    <img class="card-img-top img-fluid" *ngIf="card" [src]="imageSrc(card.eatery)" [attr.alt]="card?.eatery">
    <div class="card-img-overlay text-right">
      <i class="far fa-heart"></i>
    </div>
  </a>
</div>
<div class="row">
  <div class="col-9 col-sm-9 col-md-8 col-lg-9 col-xl-9">
    <div class="msz-vip mt-2">VIP</div>
    <h5 class="mt-2 msz-txt-vip">{{card?.eatery}}</h5>
  </div>
  <div class="col-3 col-sm-3 col-md-4 col-lg-3 col-xl-3">
    <h5 class="mt-2 txt-yellow-msz text-right"><i class="far fa-star"></i>{{card?.rating}}</h5>
  </div>
</div>
<h6>Árabe | {{card?.location}}</h6>
<h6>{{card?.price | currency: 'BRL'}} por pessoa</h6>