<div class="container-fluid mt-1 my-custom">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <img class="img-fluid" src="assets/img/restaurantes/Restaurante-SushiMarVegano-1  .png" width="619" height="400"
                alt="Sushimar vegano" />
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 d-none d-sm-block">
            <img class="img-fluid" src="assets/img/restaurantes/Restaurante-SushiMarVegano-2.png" width="619" height="400"
                alt="Sushimar vegano" />
        </div>
        <div class="col-md-4 col-lg-4 col-xl-4 d-none d-sm-block">
            <img class="img-fluid" src="assets/img/restaurantes/Restaurante-SushiMarVegano-3.png" width="619" height="400"
                alt="Sushimar vegano" />
        </div>
    </div>
</div>