<section>
  <article class="mt-5">
    <div class="row mt-3">
      <div mszCard [card]="card" *ngFor="let card of offers" class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></div>
    </div>
  </article>
</section>