<div class="mt-5">
  <ng-content></ng-content>
</div>
<div class="mt-5">
  <div class="footer-bg-orange-msz pt-4 pb-4">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <ul class="nav">
            <li class="nav-item">
              <a class="footer-msz active mr-4" href="sobre.html">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="footer-msz mr-4" href="#">Termos de Serviço</a>
            </li>
            <li class="nav-item">
              <a class="footer-msz mr-4" href="#">Políticas de Privacidade</a>
            </li>
          </ul>
        </div>
        <!-- DESKTOP -->
        <div class="col-6 text-right d-none d-sm-block">
          <h6 class="h8">
            Redes sociais: <i class="fab fa-instagram mr-4 ml-4"></i>
            <i class="fab fa-whatsapp mr-4"></i>
            <i class="fab fa-facebook-f mr-4"></i>
            <i class="fab fa-twitter mr-4"></i>
            <i class="fab fa-youtube"></i>
          </h6>
        </div>
        <!-- MOBILE -->
        <div class="col-12 d-block d-sm-none text-center mt-3">
          <h6 class="h8">
            <i class="fab fa-instagram mr-4 ml-4"></i>
            <i class="fab fa-whatsapp mr-4"></i>
            <i class="fab fa-facebook-f mr-4"></i>
            <i class="fab fa-twitter mr-4"></i>
            <i class="fab fa-youtube"></i>
          </h6>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bg-grey-msz pt-4 pb-4 text-center">
  <h4>© Momentosz, 2018</h4>
</div>