<section class="container">
  <article>
    <div class="mt-4">
      <h2>
        Oferecemos algumas opções com experiência completa no Momentosz,
        e uma seleção dos melhores restaurantes por pessoas apaixonadas
        por gastronomia. Use o filtro para encontrar o que temos para
        você ⊙‿⊙
      </h2>
    </div>
    <div class="mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option>Cozinha</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option selected>Momento</option>
            <option>Cantina</option>
            <option>Evento</option>
            <option>Família</option>
            <option>Happy hour</option>
            <option>Inusitado</option>
            <option>Romântico</option>
            <option>Saúdavel</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option>Bairro</option>
          </select>
        </div>
      </div>
    </div>
  </article>
</section>