<section>
  <article>
    <div class="mt-4">
      <h2>
        Oferecemos algumas opções com experiência completa no Momentosz,
        e uma seleção dos melhores restaurantes por pessoas apaixonadas
        por gastronomia. Use o filtro para encontrar o que temos para
        você ⊙‿⊙
      </h2>
    </div>
    <div class="mt-4">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option>Cozinha</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option selected>Momento</option>
            <option>Cantina</option>
            <option>Evento</option>
            <option>Família</option>
            <option>Happy hour</option>
            <option>Inusitado</option>
            <option>Romântico</option>
            <option>Saúdavel</option>
          </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <select class="form-control mb-2">
            <option>Bairro</option>
          </select>
        </div>
      </div>
    </div>
  </article>
  <!-- EXPERIENCIA VIP COMPLETA -->
  <article>
    <div class="mt-5">
      <h3>Experiência VIP completa</h3>
      <h4>
        Aproveite seu tempo livre! cuidamos de todos os detalhes da
        experiência do começo ao fim
      </h4>
      <div class="mt-3">
        <a routerLink="/vip"><img class="img-fluid" src="assets/img/banner-vip.png" width="1110" height="350" alt="Aproveite seu tempo livre! cuidamos de todos os detalhes da experiência do começo ao fim" /></a>
      </div>
    </div>
  </article>
  <!-- CHAMADAS DESCUBRA RESTAURANTES -->
  <hr class="my-4" />
  <article>
    <div class="mt-4">
      <h3>Japonesa</h3>
      <h4>
        Experiências com avaliações excelentes, de quem já passou por
        esses restaurantes
      </h4>
      <div class="row mt-3">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <a routerLink="/details">
            <div class="card text-white">
              <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
              <div class="card-img-overlay text-right">
                <i class="far fa-heart"></i>
              </div>
            </div>
          </a>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
      </div>
      <div class="row text-right mt-3">
        <div class="d-none d-sm-block col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <a class="txt-msz" routerLink="/momentosz">Ver tudo <i class="fas fa-angle-right"></i>
          </a>
        </div>
        <div class="d-block d-sm-none col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button type="button" class="btn btn-outline-warning btn-block">
            Ver tudo
          </button>
        </div>
      </div>
    </div>
  </article>
  <article>
    <div class="mt-4">
      <h3>Momento Happy Hour</h3>
      <h4>
        Junte seus amigos e confira os melhores bares, drinks e porções
        para aquele momento Happy Hour
      </h4>
      <div class="row mt-3">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
      </div>
      <div class="row text-right mt-3">
        <div class="d-none d-sm-block col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <a class="txt-msz" routerLink="/momentosz">Ver tudo <i class="fas fa-angle-right"></i>
          </a>
        </div>
        <div class="d-block d-sm-none col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button type="button" class="btn btn-outline-warning btn-block">
            Ver tudo
          </button>
        </div>
      </div>
    </div>
  </article>
  <hr class="my-4" />
  <article>
    <div class="mt-4">
      <h3>Descubra mais momento</h3>
      <div class="row mt-3">
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/romantico.png" alt="Romântico" /></a>
          <h6 class="text-center mt-2">Romântico</h6>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/saudavel.png" alt="Saudável" /></a>
          <h6 class="text-center mt-2">Saudável</h6>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/familia.png" alt="Família" /></a>
          <h6 class="text-center mt-2">Família</h6>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/cantina.png" alt="Cantina" /></a>
          <h6 class="text-center mt-2">Cantina</h6>
        </div>
        <div class="col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/evento.png" alt="Evento" /></a>
          <h6 class="text-center mt-2">Evento</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2 col-xl-2 text-center">
          <a routerLink="/momentosz"><img src="assets/img/restaurantes/Descubra/inusitado.png" alt="Inusitado" /></a>
          <h6 class="text-center mt-2">Inusitado</h6>
        </div>
      </div>
    </div>
  </article>
  <hr class="my-4" />
  <article>
    <div class="row">
      <div class="col-12 col-sm-6 text-center">
        <img class="img-fluid" src="assets/img/comercial.png" width="358" height="350" alt="" />
      </div>
      <div class="col-12 col-sm-6 ">
        <h6 class="h7">Os melhores restaurantes estão aqui, e o seu?</h6>
        <h4>
          Momentosz oferece a melhor experiência VIP para o cliente nos
          melhores restaurantes, experimente criar o seu pacote completo
          com a gente. <br />
          <br />
          Para mais informações:
        </h4>
        <div class="text-center">
          <button type="button" class="btn btn-success mt-3">
            Fale conosco
          </button>
        </div>
      </div>
    </div>
  </article>
  <hr class="my-4" />
  <article>
    <div class="mt-4">
      <h3>Restaurantes com as melhores avaliações</h3>
      <h4>Os melhores restaurantes de SP para você</h4>
      <div class="row mt-3">
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
          <div class="card text-white">
            <img class="card-img-top img-fluid" src="assets/img/restaurantes/SushiMarVegano  .png" alt="Sushi Mar Vegano" />
            <div class="card-img-overlay text-right">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
              <h5 class="mt-2">Sushi Mar Vegano</h5>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <h5 class="mt-2 txt-yellow-msz text-right">
                <i class="far fa-star"></i> 4,8
              </h5>
            </div>
          </div>
          <h6>Japonesa | Jardins</h6>
          <h6>Média de R$100 por pessoa</h6>
        </div>
      </div>
      <div class="row text-right mt-3">
        <div class="d-none d-sm-block col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <a class="txt-msz" routerLink="/momentosz">Ver tudo <i class="fas fa-angle-right"></i>
          </a>
        </div>
        <div class="d-block d-sm-none col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <button type="button" class="btn btn-outline-warning btn-block">
            Ver tudo
          </button>
        </div>
      </div>
    </div>
  </article>
</section>
<section>
  <div class="row mt-5">
    <div class="col-12 text-center">
      <div class="bg-grey-msz pt-4 pb-4">
        <h6 class="h7">Você é apaixonado ♥ por gastronomia? </h6>
        <h4>
          Não encontrou um restaurante que você ama? Faça parte da nossa
          comunidade e indique o que você quer encontrar
        </h4>
        <form class="mt-4 col-sm-6 col-md-12 col-lg-12 col-xl-12">
          <div class="form-row align-items-end justify-content-center">
            <div class="col-8 col-sm-4 text-left">
              <h6>Nome do restaurante</h6>
              <input type="text" class="form-control" id="inlineFormInputName" placeholder="" />
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-success">
                Enviar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>