<!-- BANNER SELEÇÃO DOS MELHORES SP DESKTOP-->
<div class="d-none d-sm-block d-md-none d-lg-block thumbnail text-center selection">
  <img class="img-fluid msz-img-brightness" src="assets/img/banner-home-selecao-sp.jpg" width="1920" height="400" alt="A seleção dos melhores restaurantes de São Paulo" />
  <div class="caption mt-3">
    <h1 routerLink="/selection-sp" routerLinkActive="h10">A seleção dos melhores <br>
      restaurantes de São Paulo</h1>
    <a routerLink="/selection-sp" routerLinkActive="d-none" class="btn btn-light">DESCUBRA</a>
  </div>
</div>
<!-- BANNER SELEÇÃO DOS MELHORES SP MOBILE-->
<div class="d-block d-sm-none d-none d-md-block d-lg-none my-3">
  <img class="img-fluid msz-img-brightness" src="assets/img/banner-home-selecao-sp-mobile.jpg" width="900" height="400"
    alt="A seleção dos melhores 
restaurantes de São Paulo" />
  <div class="caption">
    <h1 class="texto-banner-msz">A seleção dos melhores <br>
      restaurantes de São Paulo</h1>
    <a routerLink="/selection-sp" routerLinkActive="d-none" class="btn btn-light">DESCUBRA</a>
  </div>
</div>