/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';

/* CSS Document */

html,
body {
  font-family: 'Raleway', sans-serif;
  color: #484848;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1;
}
h1 {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.4rem;
}
h2 {
  font-size: 1.1rem;
  font-weight: 300;
}
h3 {
  font-size: 1.1rem;
  font-weight: 700;
}
h4 {
  font-size: 0.9rem;
  font-weight: 300;
  color: #828282;
}
h5 {
  font-size: 0.9rem;
  font-weight: 700;
}
h6 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #828282;
}
.h7 {
  font-size: 1.5rem;
  font-weight: 700;
}
.h8 {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}
.h9 {
  font-size: 0.8rem;
  font-weight: 500;
  color: #c9c8c8;
}
.h10 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
}
.msz-vip {
  position: absolute;
  background: #000;
  border-radius: 5px;
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
  width: 30px;
  text-align: center;
}
.msz-txt-vip {
  color: #d77c12;
  margin-left: 38px;
}
.bg-grey-msz {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  height: auto;
  padding: 0px 15px 0px 15px;
}
.footer-bg-orange-msz {
  position: relative;
  width: 100%;
  background-color: #e85400;
  height: auto;
  padding: 0px 15px 0px 15px;
}
.footer-bg-grey-msz {
  position: relative;
  width: 100%;
  background-color: #f1f1f1;
  height: auto;
  padding: 0px 10px 0px 10px;
}
.msz-img-brightness {
  -webkit-filter: brightness(0.75);
  filter: brightness(0.75);
}
/* Links/Botões*/
a.txt-msz:link,
a.txt-msz:visited {
  text-decoration: none;
  color: #e85400;
  font-weight: 700;
}
a.txt-msz:hover {
  color: #000;
}

a.footer-msz:link,
a.footer-msz:visited {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 0.8rem;
}
a.footer-msz:hover {
  color: #ffb084;
}

a.link-msz:link,
a.link-msz:visited {
  text-decoration: none;
  color: #e85400;
  font-weight: 700;
  font-size: 0.9rem;
}
a.link-msz:hover {
  color: #000;
}

a.link2-msz:link,
a.link2-msz:visited {
  text-decoration: none;
  color: #e85400;
  font-weight: 300;
  font-size: 0.9rem;
}
a.link2-msz:hover {
  color: #000;
}

.btn-outline-warning {
  color: #e85400;
  border-color: #e85400;
}
/* Card*/
.card-img-overlay {
  padding: 0.5rem;
}
/* Ícones*/
.fa-heart:before {
  font-size: 29px;
}
.fa-instagram:before,
.fa-whatsapp:before,
.fa-facebook-f:before,
.fa-twitter:before,
.fa-youtube:before {
  font-size: 20px;
}
/* Textos*/
.texto-banner-msz {
  font-weight: 500;
  color: #ffffff;
  font-size: 1.4rem;
}
.txt-yellow-msz {
  color: #ffaa12;
}
/* Header*/
[mszHeader] {
  background-color: #fff;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid #f1f1f1;
}

msz-selection,
msz-vip {
  padding: 1rem;
}

.nav-link {
  color: #484848;
  font-size: 14px;
}
@media (max-width: 991.98px) {
  .nav-link {
    color: #484848;
    font-size: 14px;
    border-bottom: 1px solid #f1f1f1;
  }
  .navbar-collapse {
    margin-top: 4%;
  }
  [mszHeader] {
    height: 50px;
  }
  .caption {
    position: absolute !important;
    top: 13% !important;
    left: 0 !important;
    text-align: center;
  }
}
.fixed-top {
  border-bottom: 1px solid #f1f1f1;
}
/* Hamburguer*/

a:hover {
  color: #e85400;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #000;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all 0.2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}

/* Getbootstrap*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e85401;
}

.btn-link {
  color: #e85400;
}

.btn-link:hover {
  color: #000;
  text-decoration: none;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #007bff;
}
/* Texto na imagem / Getbootstrap*/
.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

.modal-footer {
  justify-content: center;
}
/* VIP*/

.faixavip {
  width: 100%;
  height: 30px;
  background: #000;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
}

/*Load*/
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #e85400;
}

/* =Animate the stuff
	------------------------ */
.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0 {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
